{% extends "dashboard.html" %}
{% load static %}
{% block goal %}

<div class="goal-container">

    <h2>🎯 Your Financial Goals</h2>

    <!-- ADD GOAL -->
    <form method="POST" action="{% url 'add_goal' %}" onsubmit="return validateGoal()">
        {% csrf_token %}
        <input type="text" id="title" name="title" placeholder="Goal Title">
        <input type="number" id="target" name="target" placeholder="Target Amount">
        <input type="date" name="date" required>
        <button>Add Goal</button>
        <span id="error"></span>
    </form>

    <!-- GOALS LIST -->
    <div class="goal-grid">
        {% for goal in goals %}
        <div class="goal-card">

            <h3>{{ goal.title }}</h3>

            <p class="pare">Target: ₹ {{ goal.target_amount }}</p>
            <p class="pare">Saved: ₹ {{ goal.saved_amount }}</p>
            <p class="pare">Deadline: {{ goal.target_date }}</p>
            <p class="pare">Remaining: ₹ {{ goal.remaining_amount }}</p>
            <p class="avg-saving">
                Avg Monthly Saving Needed: ₹ {{ goal.avg_saving_per_month }}
            </p>
            {% if goal.months_left <= 2 and not goal.is_completed %}
            <p style="color:red; font-weight:bold;">
                ⚠ Hurry! Only {{ goal.months_left }} month(s) left
            </p>
            {% endif %}
            {% if goal.is_completed %}
                <span class="badge">🎉 Completed</span>
            {% endif %}

            <!-- PROGRESS BAR -->
            <div class="progress-bar">
                <div class="progress" style="width: {{ goal.progress }}%">
                    {{ goal.progress }}%
                </div>
            </div>

            <!-- CHART -->
            <div class="chart-box">
                <canvas id="chart{{ goal.id }}"></canvas>
            </div>

            <!-- ADD SAVING -->
            <form method="POST" action="{% url 'add_saving' goal.id %}">
                {% csrf_token %}
                
                <input type="number" name="amount" placeholder="Add Saving"
                    {% if goal.is_completed %} disabled {% endif %} min=1 required>

                <button {% if goal.is_completed %} disabled {% endif %}>
                    Add
                </button>
            </form>
            <form method="POST" action="{% url 'delete_goal' goal.id %}" onsubmit="return confirmDelete()">
                {% csrf_token %}
                <button class="delete-btn">Remove</button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% if messages %}
        <div id="popup" class="popup">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

</div>

<!-- CHART JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
// Validation
function validateGoal(){
    let title = document.getElementById("title").value
    let target = document.getElementById("target").value
    let error = document.getElementById("error")

    if(title === "" || target === ""){
        error.innerText = "All fields required"
        return false
    }

    if(target <= 0){
        error.innerText = "Target must be greater than 0"
        return false
    }

    return true
}

// Generate charts
{% for goal in goals %}
let ctx{{ goal.id }} = document.getElementById("chart{{ goal.id }}")

new Chart(ctx{{ goal.id }}, {
    type: 'doughnut',
    data: {
        labels: ['Saved', 'Remaining'],
        datasets: [{
            data: [
                {{ goal.saved_amount }},
                {{ goal.target_amount|floatformat:2 }} - {{ goal.saved_amount }}
            ]
        }]
    },
    options: {
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: false
            }
        }
    }
})
function confirmDelete(){
    return confirm("Are you sure you want to delete this goal?");
}
setTimeout(()=>{
    let popup = document.getElementById("popup")
    if(popup){
        popup.style.display="none"
    }
},3000)
{% endfor %}

</script>

<link rel="stylesheet" href="{% static "css/goal.css" %}"></link>



{% endblock %}